---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import ContactoCard from "../components/contacto-card.astro";
import '@fortawesome/fontawesome-free/css/all.min.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Sobre Nosotros - Tupyalum</title>
    <style>
        .fade-bottom {
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
            -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); 
        }
            
    </style>
  </head>

  <!-- Botón flotante de WhatsApp -->
  <a href="https://wa.me/56945623641" target="_blank" class="fixed bottom-6 right-6 bg-green-500 text-white p-4 rounded-full shadow-lg hover:bg-green-600 transition flex items-center justify-center w-14 h-14 z-50">
    <i class="fab fa-whatsapp text-2xl"></i>
  </a>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <Navbar />

    <!-- Sección Sobre Nosotros -->
    <div class="w-11/12 max-w-6xl mx-auto my-20 p-6 bg-gray-100 shadow-xl rounded-lg">
      <div class="flex flex-col lg:flex-row items-center">
        
        <!-- Imagen de Carlos -->
        <div class="w-full lg:w-1/2 p-4 relative">
            <img src="/images/carlos-png.png" alt="Carlos González Escalona" class="w-full h-auto max-w-lg mx-auto rounded-lg fade-bottom">
        </div>

        <!-- Información de la empresa -->
        <div class="w-full lg:w-1/2 p-6 text-center lg:text-left">
          <h2 class="text-3xl font-bold text-blue-700 uppercase mb-4">Sobre Nosotros</h2>
          <p class="text-gray-700 text-lg">
            Tupyalum es una empresa con más de 25 años de experiencia en el rubro del vidrio, aluminio y fierro. Nos especializamos en ventanas de aluminio, termopaneles, estructuras metálicas, vidrios templados y espejos.  
            <br><br>
            Carlos González Escalona, fundador de Tupyalum, ha trabajado con grandes empresas como Digosa, Thecnal y Vidrios Libertad (actualmente Glastec). Participamos en proyectos de gran envergadura, como la Estación Mapocho y la Planta Chilena de Tabaco en San Fernando, además de múltiples instalaciones residenciales en Pirque, Talagante, Peñaflor, Talca y la Costa Central.
          </p>
        </div>
      </div>
    </div>

    <div class="w-11/12 max-w-6xl mx-auto my-12 mt-36">
      <h2 class="text-3xl font-bold text-blue-700 uppercase text-center mb-6">Nuestros Servicios</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-16">
        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <i class="fas fa-window-maximize text-4xl text-blue-700"></i>
          <h3 class="text-xl font-bold mt-4">Fabricación de Ventanas</h3>
          <p class="text-gray-600 mt-2">Diseño e instalación de ventanas de aluminio y termopanel.</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <i class="fas fa-tools text-4xl text-blue-700"></i>
          <h3 class="text-xl font-bold mt-4">Reparaciones</h3>
          <p class="text-gray-600 mt-2">Mantenimiento y reparación de estructuras de aluminio y vidrio.</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md text-center">
          <i class="fas fa-industry text-4xl text-blue-700"></i>
          <h3 class="text-xl font-bold mt-4">Estructuras Metálicas</h3>
          <p class="text-gray-600 mt-2">Fabricamos rejas, galpones y todo tipo de estructuras de fierro.</p>
        </div>
      </div>
    </div>

    <div class="w-11/12 max-w-6xl mx-auto mt-36 my-12 p-6 bg-white shadow-2xl rounded-lg text-center">
      <h2 class="text-3xl font-bold text-blue-700 uppercase text-center mb-6">Nuestra Ubicación</h2>
      <div class="w-full h-96 overflow-hidden rounded-lg shadow-md">
        <iframe class="w-full h-full" 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.6005356649457!2d-70.59945182356981!3d-33.615667705993616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d7a21734f3f9%3A0x62e934120d3a6122!2sPje.%20San%20Calixto%2027%2C%20Puente%20Alto%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1742425304065!5m2!1ses!2scl" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy"></iframe>
      </div>
    </div>

    <ContactoCard />



    <!-- Footer -->
    <Footer />
  </body>
</html>
