---
import '@fortawesome/fontawesome-free/css/all.min.css';
---

<footer class="bg-blue-700 text-white shadow-2xl mx-auto mt-12 p-8">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center md:space-x-8">

    <div class="text-center flex items-center">
      <h2 class="text-3xl font-bold">TUPYALUM</h2>
    </div>

    <div class="flex space-x-4 md:space-x-8 order-2 md:order-none mt-1">
      <a href="/" class="text-white font-semibold hover:text-gray-300">Inicio</a>
      <a href="/contacto" class="text-white font-semibold hover:text-gray-300">Sobre mí</a>
    </div>

    <!-- Sección Redes sociales -->
    <div class="flex space-x-6 md:space-x-8 order-2 md:order-none mt-1">
      <a href="https://www.instagram.com/tupyalum_/" class="hover:text-gray-300"><i class="fab fa-instagram text-xl"></i></a>
      <a href="#" class="hover:text-gray-300"><i class="fab fa-facebook text-xl"></i></a>
    </div>

  </div>
</footer>
