---
import '@fortawesome/fontawesome-free/css/all.min.css';
---

<footer class="bg-blue-700 text-white rounded-full shadow-2xl w-11/12 z-50 border mx-auto mt-12 p-8 my-8">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center md:space-x-8">

    <!-- Sección Enlaces importantes -->
    <div class="flex space-x-6 md:space-x-8 order-1 md:order-none">
      <a href="/" class="text-white font-semibold hover:text-gray-300">Inicio</a>
      <a href="/servicios" class="text-white font-semibold hover:text-gray-300">Servicios</a>
      <a href="/contacto" class="text-white font-semibold hover:text-gray-300">Contacto</a>
    </div>

    <!-- Sección Nombre de la empresa centrado -->
    <div class="text-center flex items-center">
      <h2 class="text-3xl font-bold">TUPYALUM</h2>
    </div>

    <!-- Sección Redes sociales (Instagram y TikTok) -->
    <div class="flex space-x-6 md:space-x-8 order-2 md:order-none">
      <a href="#" class="hover:text-gray-300"><i class="fab fa-instagram text-xl"></i></a>
      <a href="#" class="hover:text-gray-300"><i class="fab fa-tiktok text-xl"></i></a>
      <a href="#" class="hover:text-gray-300"><i class="fab fa-facebook text-xl"></i></a>
    </div>

  </div>
</footer>
