---
import '@fortawesome/fontawesome-free/css/all.min.css';
---

<div class="w-full top-0 z-50">
  <nav class="bg-blue-700 text-white mx-auto">
    <div class="container mx-auto flex justify-between items-center p-2">
      <div class="text-sm flex items-center">
        <i class="fas fa-phone-alt mr-2"></i>
        <a href="">+56 9 4562 3641</a>
        <span class="ml-4 flex items-center">
          <i class="fas fa-envelope mr-2"></i>
          <span>tupyalum@gmail.com</span>
        </span>
      </div>
    </div>
  </nav>
</div>

<div class="justify-center">
  <nav class="relative bg-gray-100 shadow-2xl border-white/30 mx-auto">
    <div class="container mx-auto flex justify-between items-center p-5">
      <a href="/" class="text-3xl font-bold text-blue-700 hover:text-blue-700">TUPYALUM</a>
  
      <button id="menu-button" class="block lg:hidden p-4 rounded-2xl">
        <i class="fas fa-bars text-3xl text-gray-700"></i>
      </button>
      
      <div class="hidden lg:flex space-x-4">
        <a href="/" class="text-black font-semibold hover:text-blue-700">Inicio</a>
        <a href="/sobre_nosotros" class="text-black font-semibold hover:text-blue-700">Sobre nosotros</a>
      </div>
    </div>
    
    <div id="menu" class="lg:hidden hidden bg-gray-100 border-white/30 backdrop-blur-lg  mx-auto transition-all duration-300 ease-in-out">
      <a href="/" class="block px-4 py-2 text-gray-700 font-bold">Inicio</a>
      <a href="/sobre_nosotros" class="block px-4 py-2 text-gray-700 font-bold">Sobre nosotros</a>
    </div>
    
  </nav>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.getElementById('menu-button');
    const menu = document.getElementById('menu');

    if (menuButton && menu) {
      menuButton.addEventListener('click', () => {
        menu.classList.toggle('hidden');
      });
    }
  });
</script>
